<style>
    #postDiv {
        text-align: center;
    }

    #postCenterDiv {
        display: inline-block;
        text-align: left;
        margin: 0 auto;
    }
    #buttonRow {
        margin-top: 15px;
        margin-left: 1px;
    }
    #content {word-wrap:break-word;
        word-break:break-all;
        height: auto}

    #loginPanel {
        border: 1px solid peachpuff;
        border-radius: 15px;
        padding: 15px;
        background-color: #DCDCA4;
    }
</style>