<div class="badge_List category">
    <h3>© 2023. Jeong In. All rights reserved.</h3>
    <a target="_blank" href="https://github.com/JeongIn1994"><i class="fa-brands fa-github fa-2xl"></i></a>
    <a target="_blank" href="https://blog.naver.com/be7814"><i class="fa-solid fa-earth-asia fa-2xl"></i></a>

</div>

{{#role}}
    <script>
        const category = document.querySelector(".category");
        const settingModal = document.getElementById('settingModal');

        const onClickSettingBtn = () => {
            window.open("/setting","Setting_ADMIN","width=500, height=500")
        }

        if("{{role}}" == "ADMIN"){
            const settingMenu = document.createElement("button");

            settingMenu.innerHTML = "<i class='fa fa-cog fa-2xl' aria-hidden='true'></i>";
            settingMenu.style = "background-color:transparent;";

            settingMenu.addEventListener('click', onClickSettingBtn)
            category.lastElementChild.after(settingMenu);


        }


    </script>
{{/role}}
</body>
</html>