<!DOCTYPE html>
<html>
<head>
    <meta content="text/html" charset="UTF-8" http-equiv="Content-Type">
    <title>Spring Boot Web Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
{{>style/css}}
<body>
<hr>
<div class="col-md-12">
    <div class="row header-body">
        <div class="col-md-6">
            <a href="/" class="active headerbar" role="button">Home</a>
            <a href="/board/list" class="active headerbar" role="button">Board</a>
        </div>
        <div class="col-md-6 text-right" >
            {{#usersName}}
                <span id="loginPanel"
                        class="col-md-6" >
                    <img alt="" src="{{picture}}" height="35px" width="35px">
                    Logged in as: <span id="user">{{usersName}}</span>
                    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                </span>
            {{/usersName}}
            {{^usersName}}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
            {{/usersName}}
        </div>
    </div>
    <hr>
