
<div class="modal fade" id="settings">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Setting</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="col-md-12 category">
                    <a href="#" class="active">User Profile</a>
                    <a href="#">User Management</a>
                    <a href="#">FrontEnd</a>
                    <a href="#">BackEnd</a>
                </div>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>

    const activeCategory = document.querySelector("");
    document.addEventListener('DOMContentLoaded', () => {
        //url check
        const currentURL = window.location.pathname;
        if (currentURL.includes('board')) {
            document.querySelector("aside .sidebar a:nth-child(1)").classList.remove('active');
            document.querySelector("aside .sidebar a:nth-child(2)").classList.remove('active');
            document.querySelector("aside .sidebar a:nth-child(3)").classList.add('active');
        } else if (currentURL.includes('history')) {
            document.querySelector("aside .sidebar a:nth-child(1)").classList.remove('active');
            document.querySelector("aside .sidebar a:nth-child(2)").classList.add('active');
            document.querySelector("aside .sidebar a:nth-child(3)").classList.remove('active');
        } else {
            document.querySelector("aside .sidebar a:nth-child(1)").classList.add('active');
            document.querySelector("aside .sidebar a:nth-child(2)").classList.remove('active');
            document.querySelector("aside .sidebar a:nth-child(3)").classList.remove('active');
        }
    }
</script>