
<div class="right">
    <div class="top">
        <button id="menu-btn">
            <span class="material-symbols-outlined">menu</span>
        </button>
        <div class="theme-toggler">
            <span class="material-symbols-outlined active">light_mode</span>
            <span class="material-symbols-outlined">dark_mode</span>
        </div>
        {{#usersName}}
            <div class="profile">
                <div class="info">
                    <p><b>{{usersName}}</b></p>
                    <small class="text-muted">{{role}}</small>
                </div>
                <div class="profile-photo">
                    <img src="{{picture}}" alt="#">
                </div>
            </div>
        {{/usersName}}
        {{^usersName}}
            <a href="/oauth2/authorization/google" role="button"><i class="fa-brands fa-google"></i></a>
            <a href="/oauth2/authorization/naver" role="button"><i class="fa-solid fa-n"></i></a>
        {{/usersName}}
    </div>
    <!-- END OF TOP -->
    <div class="recent-update">
        <h2>Recent Updates</h2>
        <div class="updates">
            {{#currentBoard}}
            <div class="update">
                <div class="massage">
                    <a href="/board/view?bno={{bno}}"><p><b></b></p></a>
                    <small class="text-muted">{{createDate}}</small>
                </div>
            </div>
            {{/currentBoard}}
            {{^currentBoard}}
                <div class="update">
                    <div class="massage">
                        <a href="#"><p><b>No Current Note</b></p></a>
                        <small class="text-muted">No</small>
                    </div>
                </div>
            {{/currentBoard}}
        </div>
    </div>
    <!------------------------ END OF RECENT UPDATE --------------------------->
    <div class="languages-analytics">
        <h2>languages-analytics</h2>
        <div class="item first">
            <div class="icon">
                <span class="material-symbols-outlined">code</span>
            </div>
            <div class="right">
                <div class="info">
                    <h3>Languages</h3>
                </div>
                <h5 class="success">1st</h5>
            </div>
        </div>
        <div class="item second">
            <div class="icon">
                <span class="material-symbols-outlined">code</span>
            </div>
            <div class="right">
                <div class="info">
                    <h3>Languages</h3>
                </div>
                <h5 class="primary">2nd</h5>
            </div>
        </div>
        <div class="item third">
            <div class="icon">
                <span class="material-symbols-outlined">code</span>
            </div>
            <div class="right">
                <div class="info">
                    <h3>Languages</h3>
                </div>
                <h5 class="warning">3rd</h5>
            </div>
        </div>
    </div>
    <small class="text-muted">Last 1 years</small>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/0630532dcd.js" crossorigin="anonymous"></script>
<script>

    const sideMenu = document.querySelector("aside");
    const menuBtn = document.querySelector("#menu-btn");
    const closeBtn = document.querySelector("#close-btn");
    const homeBtn = document.querySelector('a[href="/"]');
    const settingBtn = document.querySelector('#openModalBtn');
    const themeToggler = document.querySelector(".theme-toggler");

    //page onload function
    document.addEventListener('DOMContentLoaded', () => {
        //url check
        const currentURL = window.location.pathname;
        if(currentURL.includes('board')){
            document.querySelector("aside .sidebar a:nth-child(1)").classList.remove('active');
            document.querySelector("aside .sidebar a:nth-child(2)").classList.remove('active');
            document.querySelector("aside .sidebar a:nth-child(3)").classList.add('active');
        }else if(currentURL.includes('history')){
            document.querySelector("aside .sidebar a:nth-child(1)").classList.remove('active');
            document.querySelector("aside .sidebar a:nth-child(2)").classList.add('active');
            document.querySelector("aside .sidebar a:nth-child(3)").classList.remove('active');
        }else{
            document.querySelector("aside .sidebar a:nth-child(1)").classList.add('active');
            document.querySelector("aside .sidebar a:nth-child(2)").classList.remove('active');
            document.querySelector("aside .sidebar a:nth-child(3)").classList.remove('active');
        }

        //role check
        if(userRole !== "ADMIN"){
            settingBtn.style.display = 'none'
        }
        const currentUpdates = [];
        {{#currentBoard}}
            currentUpdates.push("{{title}}")
        {{/currentBoard}}
        //current update title was so long
        // const currentUpdateTitle = document.querySelectorAll(".updates .update .massage a p b")
        currentUpdates.forEach((update, index) =>{
                    index++;
                    if(parseInt(update.length) > 12) {
                        document.querySelector(".updates .update:nth-child(" + index +") .massage a p b").innerText = update.substring(0,6) + "...";
                    }else {
                        document.querySelector(".updates .update:nth-child(" + index +") .massage a p b").innerText = update;
                    }

                }
        );


    });

    menuBtn.addEventListener('click', () => {
        sideMenu.style.display = 'block';
    })

    closeBtn.addEventListener('click', () => {
        sideMenu.style.display = 'none';
    })


    themeToggler.addEventListener('click', () => {
        document.body.classList.toggle('dark-theme-variables');

        themeToggler.querySelector('span:nth-child(1)').classList.toggle('active');
        themeToggler.querySelector('span:nth-child(2)').classList.toggle('active');
    })
</script>