<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 로그 파일 위치 지정 -->
    <property name="LOG_FILE" value="C:/resources/files/log/logfile.log" />

    <!-- 로그 출력 형식 지정 -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_FILE}</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 루트 로거 설정 -->
    <root level="info">
        <appender-ref ref="FILE" />
    </root>
</configuration>