{{>layout/header}}
{{#usersName}}
    <a href="/board/register" role="button" class="btn btn-primary" style="margin-bottom: 15px">Resist</a>
{{/usersName}}
<table class="table table-horizontal table-boadered">
    <thead class="thead-strong">
    <tr>
        <th>#No</th>
        <th>Title</th>
        <th>Author</th>
        <th>ModifiedDate</th>
    </tr>
    </thead>
    <tbody id="tbody">
    {{#result.dtoList}}
                            <tr>
                                <td>{{bno}}</td>
                                <td><a href="/board/view?bno={{bno}}">{{title}}[{{replyCount}}]</a></td>
                                <td>{{userEmail}}</td>
                                <td>{{modDate}}</td>
                            </tr>
    {{/result.dtoList}}
    </div>
    </tbody>
</table>
<ul class="pagination h-100 justify-content-center align-items-center" id="paginationBar">

</ul>

<script>
    const prev = {{result.prev}};
    const next = {{result.next}}
    const startNum = parseInt({{result.start}}) - 1;
    const endNum = parseInt({{result.end}}) + 1 ;
    const pageList = {{result.pageList}};

    const paginationBar = document.getElementById("paginationBar");
    const previousBtn = "<li class='page-item'>" +
            "   <a class='page-link' href='/board/list?page="+ startNum+"'>Pre</a>" +
            "</li>" ;

    const nextBtn = "<li class='page-item'>"+
            "   <a class='page-link' href='/board/list?page="+ endNum +"'>Next</a>" +
            "</li>"

    const parseToDOM = function (htmlString){

        return new DOMParser().parseFromString(htmlString,'text/html').body.firstChild;

    }

    const addPrevBtn = () => {
        if(prev) {
            const parsedPrevBtn = parseToDOM(previousBtn)
            paginationBar.append(parsedPrevBtn);
        }
    }

    const addPageNumBtn = () => {
        for(const pageNumber in pageList ){
            const pageNumBtn =  "<li class='page-item'>" +
                    "   <a class='page-link' href='/board/list?page=" + pageList[pageNumber] + "'>" +
                    pageList[pageNumber] +
                    "</li>"

            const parsefNumBtn = parseToDOM(pageNumBtn);

            paginationBar.append(parsefNumBtn);
        }
    }

    const addNextBtn = () => {
        if(next){
            const parsedNextBtn = parseToDOM(nextBtn)
            paginationBar.append(parsedNextBtn);
        }
    }

    window.onload = function (){
        addPrevBtn();
        addPageNumBtn();
        addNextBtn();
    }
</script>
{{>layout/footer}}