{{>layout/aside}}
<style>
    #toastUI {
        width: 550px; /* 원하는 너비로 조절 */
    }
</style>
<main>
    <h1>Resist Board</h1>
    <div class="col-md-12" id="boardDiv">
        <div class="" id="boardCenterDiv">
            <form id="contentForm" method="POST" action="/board/register" enctype="multipart/form-data" >
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="Input Your board Title" required>
                </div>
                <div class="form-group">
                    <label for="userName">UserName</label>
                    <input type="text" class="form-control" name="userName" id="userName" value="{{usersName}}" disabled readonly>
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <div class="form-control" id="toastUI"></div>
                </div>
                <input type="hidden" name="userEmail" id="userEmail" value="{{userEmail}}">
                <input type="hidden" name="content" id="content" value="{{userEmail}}">
                <hr>
                <a href="/board/list" role="button" class="btn btn-secondary">Cancel</a>
                <button type="button" class="btn btn-primary" id="submitBtn" onclick="onclickSubmitBtn()">Resist</button>
            </form>
        </div>
    </div>
</main>
{{>layout/right}}
<hr>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="/js/app/index.js"></script>
<script>
    document.title = "⚙️In's Inventory-Regist"

    const fileNameDisplay = document.querySelector('.uploadResult');
    const inputFileList = document.querySelector('input[type="file"]')

    const onclickSubmitBtn = () => {
        document.getElementById('content').value =  editor.getHTML() ;
        document.getElementById('contentForm').submit();
    }


    const editor = new toastui.Editor({
        el: document.querySelector('#toastUI'),
        height: '450px',
        initialEditType: 'wysiwyg',
        initialValue: '내용을 입력해 주세요.',
        previewStyle: 'vertical',
        hooks: {
            async addImageBlobHook(blob, callback){
                try {
                    const formData = new FormData();
                    formData.append('image', blob);

                    const response = await fetch('/uploadAjax',{
                        method : 'POST',
                        body : formData,

                    });

                    const filename = await response.text();
                    console.log('fileName :' , filename);

                    const imageUrl = `/imageDisplay?filename=${filename}`;
                    callback(imageUrl, 'image alt attribute');
                }catch (error){
                    console.error('upload failed',error)
                }
            }
        }
    });


</script>
