<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/ckeditor/ckeditor.js"></script>
<script>
    $(function() {
        CKEDITOR.replace('content', {

        })
    })
</script>