<script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>
<script>
    $(function() {
        CKEDITOR.replace('content', {
            filebrowserUploadUrl:'/board/upload.do',
            filebrowserUploadMethod : 'form',
            language:'en',
            removeButtons: 'Image'
        });
        CKEDITOR.on('cialogDefinition', function (ev) {
            let dialogName = ev.data.name;
            let dilogDefinition = ev.data.definition;
            let uploadTap = dialogDefinition.getContents('Upliad');
            let uploadButton = uploadTap.get('uploadButton');

            uploadButton['fileBrowser']['onSelect'] = function(fileUrl, errorMessage){

            }

        })
    })

</script>