{{>layout/header}}
    <table class="table table-horizontal table-boadered">
        <thead class="thead-strong">
        <tr>
            <th>#No</th>
            <th>Title</th>
            <th>Author</th>
            <th>ModifiedDate</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
<!--            <tr>-->
<!--                <td>{{id}}</td>-->
<!--                <td><a href="/posts/view/{{id}}">{{title}}</a></td>-->
<!--                <td>{{user_name}}</td>-->
<!--                <td>{{modifiedDate}}</td>-->
<!--            </tr>-->
        {{/posts}}
        </tbody>
    </table>
</div>
<script >

    let tbody = document.getElementById("tbody");

    const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
    const windowHeight = window.innerHeight || document.documentElement.clientHeight;

    const posts = {{posts}};

    console.log(posts)

    window.addEventListener('scroll',function(){
        if (scrollTop + windowHeight >= windowHeight - 100) {
            // 스크롤 끝에 도달했을 때 추가 데이터 요청
            loadMoreData();
        }
    });

    const loadMoreData = (e) =>{
        console.log("a")
    }

</script>
{{>layout/footer}}