{{>layout/aside}}
    <main>
        <h1>Home</h1>
        <div class="insights">
            <div class="profile">
                <span class="material-symbols-outlined">badge</span>
                <div class="middle">
                    {{#userInfo}}
                        <div class="left">
                            <h3>{{userInfo.name}}</h3>
                            <h3>{{userInfo.email}}</h3>
                            <h3>{{userInfo.college}}</h3>
                            <h3>{{userInfo.sex}}</h3>
                            <h3>{{userInfo.age}}</h3>
                            <h3>{{userInfo.phone_number}}</h3>
                        </div>
                    {{/userInfo}}
                    <!--if userInfo is Null -->
                    {{^userInfo}}
                    <div class="left">
                        <h3>name</h3>
                        <h3>email</h3>
                        <h3>college</h3>
                        <h3>sex</h3>
                        <h3>age</h3>
                        <h3>phone_number</h3>
                    </div>
                    {{/userInfo}}
                </div>
                <small class="text-muted">Last Modified</small>
            </div>
            <!---------------- END OF PROFILES ------------------------->
            <div class="skills_front">
                <span class="material-symbols-outlined">iframe</span>
                <div class="middle">
                    <div class="left">
                        <img src="" alt="#">
                    </div>
                </div>
                <small class="text-muted">Last Modified</small>
            </div>
            <!---------------- END OF Skills_front ------------------------->
            <div class="skills_back">
                <span class="material-symbols-outlined">code</span>
                <div class="middle">
                    <img src="" alt="#">
                </div>
                <small class="text-muted">Last Modified</small>
            </div>
            <!---------------- END OF skills_back ------------------------->
        </div>
        <!------------------------ END OF INSIGHTS --------------------------->

        <div class="work-history-summary" id="work-history-summary">
            <h2>Work History</h2>
            <div class="slider" id="slider">
                <ul>
                    <li></li>
                </ul>
            </div>
            <a href="/history/list">Show All</a>
        </div>
        <div class="page-indicators"></div>
    </main>
    <!------------------------ END OF MAIN --------------------------->
{{>layout/right}}

<!--<script src="./script/index1.js"></script>-->

<script>
    document.title = "[⚙️In's Inventory]"


    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector("aside .sidebar a:nth-child(1)").classList.add('active');
    });
    window.onload = function (){
        document.querySelector('#slider > ul').addEventListener('wheel', throttle(handleScroll, 500));

    }

    //create li List Start
    let li_List = "";
    let progress = "";
        {{#posts}}
        "{{progress}}" === "1" ? progress =
                '<h2><span class="badge badge-warning">Ing</span></h2>' : progress = '<h2><span class="badge badge-secondary">Done</span></h2>';
        li_List += "<li>"+progress+"<a href='#'><img alt='#' src='/display?fileName={{summary}}'></a>"

        {{/posts}}
    document.querySelector('#slider > ul').innerHTML = li_List;
    //create li List End

    const li_height = parseInt(window.getComputedStyle(document.querySelector('#slider > ul').querySelector('li')).height, 10);
    const firstLi = document.querySelector('#slider > ul').querySelectorAll('li')[0];
    const lastLi = document.querySelector('#slider > ul').querySelectorAll('li')[document.querySelector('#slider > ul').querySelectorAll('li').length - 1];

    let scrollPosition = 0;

    const handleScroll = (event) => {
        const deltaY = event.deltaY;
        //scroll action control at first li & last li
        if ((deltaY <= 0 && firstLi.contains(event.target)) || (deltaY > 0 && lastLi.contains(event.target))) {
            console.log("1");
            return;
        }

        if (deltaY > 0) {
            //upper scroll
            scrollPosition -= li_height;
            slideDown(scrollPosition);
        } else if (deltaY < 0){
            // down scroll
            scrollPosition += li_height;
            slideUp(scrollPosition);
        }

        document.querySelector('#slider > ul').style.transition = 'margin-top 0.5s ease-in-out';

        event.preventDefault();
    }

    const slideUp = (scrollPosition) => {
        document.querySelector('#slider > ul').style.transition = 'margin-top 0.5s ease-in-out';
        document.querySelector('#slider > ul').style.marginTop = scrollPosition + 'px';
    }

    const slideDown = (scrollPosition) => {
        document.querySelector('#slider > ul').style.transition = 'margin-top 0.5s ease-in-out';
        document.querySelector('#slider > ul').style.marginTop = scrollPosition + 'px';

    }

    const throttle = (func, delay) => {
        let isThrottled = false;
        return function() {
            if (!isThrottled) {
                func.apply(this, arguments);
                isThrottled = true;
                setTimeout(() => {
                    isThrottled = false;
                }, delay);
            }
        };
    }

</script>
</body>
</html>
