<style>
    .setting_header{
        background-color: #999977;
        height: 45px;
    }
    .setting_body{
        background-color: #888888;
        height: 450px;
    }
</style>
<div class="setting_header">
    <h2>Setting</h2>
</div>
<div class="setting_body">
    <div class="settingModal-content">
        <span >id</span>
        <input type="text" value="{{}}">
    </div>
</div>