<style>
    #toastUI {
        width: 550px; /* 원하는 너비로 조절 */
    }
    #file {
        display: none;
    }

    #myModal button {
        margin-bottom: 6px;
    }
</style>
{{>layout/aside}}
<main>
    <h1>Update History</h1>

    <div class="col-md-12" id="postDiv">
        <div class="" id="postCenterDiv">
            <form>
                <div class="form-group">
                    <label for="title"><b>Title</b></label>
                    <input type="text" class="form-control" id="title" value="{{post.title}}">
                </div>
                <div class="form-group">
                    <label for="language"><b>Language</b></label>
                    <select class="form-control" id="language" onchange="onChangeLanguageList()">
                        <option value="---">---</option>
                        <option value="C#">C#</option>
                        <option value="C">C</option>
                        <option value="JAVA">JAVA</option>
                        <option value="Python">Python</option>
                        <option value="Php">Php</option>
                        <option value="etc">etc</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="selectedLanguage" readonly="readonly" required>
                </div>
                <div class="form-group">
                    <label for="summary"><b>summary</b></label><br>
                    <p><span class="noSummaryNotice">No image</span></p>
                    <img id="summary" src="/display?fileName={{post.summary}}" alt="No Image" ><br>
                    <button type="button" class="btn btn-warning" id="openModalBtn" data-toggle="modal" data-backdrop="static"
                            data-keyboard="false" data-target="#myModal">
                        Image Upload
                    </button>
                    <button type="button" class="btn btn-danger" id="deleteImgBtn" onclick="onClickdeleteImgBtn()">Delete</button>
                </div>
                <div class="form-group">
                    <label for="content"><b>Content</b></label>
                    <div class="form-control" name="toastUI" id="toastUI" ></div>
                </div>
                <div class="form-group">
                    <label for="content"><b>Start At</b></label><br>
                    <input type="date" class="form-control" id="start_date" value="{{post.start_date}}" required>
                </div>
                <div class="form-group">
                    <label for="content"><b>End At</b></label><br>
                    <input type="date" class="form-control" id="end_date" value="{{post.end_date}}" required>
                </div>
                <input type="hidden" id="id" value="{{post.id}}">
                <a href="#" role="button" class="btn btn-secondary" onclick="window.history.back()">Cancel</a>
                <button type="button" class="btn btn-primary" id="btn-update" style="margin-left: 1rem">Update</button>
                <button type="button" class="btn btn-danger" id="btn-delete" style="margin-left: 1rem">Delete</button>
            </form>
            <br>

            <Hr>
        </div>
    </div>
</main>
<!-- modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">File upload</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body uploadResult">
            </div>
            <hr>
            <div class="modal-body uploadFileList">

            </div>
            <div class="modal-footer">
                <label for="file" class="btn btn-warning">Select Files</label>
                <input type="file" id="file" class="input" multiple>
                <button type="button" class="btn btn-secondary" onclick="onclickUploadBtn()">Upload</button>
                <button type="button" class="btn btn-primary" onclick="onclickAttachBtn()">Attach</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{{>layout/right}}
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="/js/app/index.js"></script>
<script>
    document.title = "[⚙️In's Inventory]New_Work History"

    window.onload = () => {
        document.querySelector("#language").value = "{{post.language}}"
        document.querySelector("#selectedLanguage").value = "{{post.language}}"
        document.querySelector("#start_date").value = changeDate("{{post.start_date}}")
        document.querySelector("#end_date").value = changeDate("{{post.end_date}}")
    }

    const changeDate = (date) => {
        const now = new Date(date);
        const year = now.getFullYear();
        const month = (now.getMonth() + 1).toString().padStart(2, '0');
        const day = now.getDate().toString().padStart(2, '0');

        return `${year}-${month}-${day}`;
    }

    document.getElementById("language").addEventListener('change',function(){
        document.getElementById("selectedLanguage").readOnly = document.getElementById("language").value !== "etc";
    })

    const fileNameDisplay = document.querySelector('.uploadResult');
    const inputFileList = document.querySelector('input[type="file"]')

    const onChangeLanguageList = () => {
        if(document.getElementById("language").value !== "etc"){
            document.getElementById("selectedLanguage").value = "";
            document.getElementById("selectedLanguage").value = document.getElementById("language").value;
        }else{
            document.getElementById("selectedLanguage").value = "";
        }



    }


    const onClickdeleteImgBtn = () => {
        if(document.getElementById("summary").src !== '#'){
            const imgFile = document.getElementById("summary").src;
            document.getElementById("summary").style.display = 'none';
            document.querySelector(".noSummaryNotice").style.display = "block";
            document.getElementById("summary").src = '#';

            $.post('/removeFile', {fileName : imgFile})
        }
    }


    const onclickUploadBtn = () => {
        const formData = new FormData();

        const inputFile = document.querySelectorAll("input[type='file']");


        const files = inputFile[0].files;
        formData.append("uploadFile", files[0]);


        $.ajax({
            url : '/summaryUploadAjax',
            processData : false,
            contentType : false,
            data : formData,
            type : 'POST',
            dataType : 'json',
            success : function (result){
                showUploadedImages(result);
            },
            error : function (jqXHR, textStatus, errorThrown){
                alert("Need To ImageFile!")
            }
        })
    }

    const onclickAttachBtn = () => {
        const img = fileNameDisplay.querySelector('img');

        document.querySelector(".noSummaryNotice").style.display = "none";
        document.getElementById("summary").style.display = 'block';
        document.getElementById("summary").src = img.src;
        fileNameDisplay.innerHTML = '';
        document.querySelector(".uploadFileList").innerHTML ='';
        document.querySelector("button[data-dismiss='modal']").click();

        onClickCancelBtn();
        $('#myModal').modal('hide');
    }

    const showUploadedImages = (file) => {
        fileNameDisplay.innerHTML = '';
        let imgDiv = document.createElement('div');
        let img = document.createElement('img');
        img.src = '/display?fileName='+file.imageUrl ;
        img.alt = '/display?fileName='+file.thumbnailURL;

        const deleteBtn = document.createElement('input');
        deleteBtn.setAttribute('class', 'removeBtn' ) ;
        deleteBtn.setAttribute('type','button')
        deleteBtn.setAttribute('data-name', file.imageUrl ) ;
        deleteBtn.setAttribute('onClick', 'deleteImg(this)');
        deleteBtn.setAttribute('value', 'Delete')


        imgDiv.appendChild(img);
        imgDiv.appendChild(deleteBtn);

        fileNameDisplay.appendChild(imgDiv);

    }

    const deleteImg = (deleteBtn) => {
        const fileName = deleteBtn.getAttribute('data-name');
        const imgDiv = deleteBtn.parentElement

        $.post('/removeFile', {fileName : fileName}, function(result) {
            if(result === true){
                imgDiv.remove();
                setFileNameList();
            }
        })
    }



    inputFileList.addEventListener('change', function (event) {

        for (let i = 0 ; i < event.target.files.length; i++){
            document.querySelector('.uploadFileList').append(event.target.files[i].name);
            document.querySelector('.uploadFileList').appendChild(document.createElement('br'));
        }

    })

    const setFileImgList = () => {
        fileNameDisplay.innerHTML = '';
    }

    const setFileNameList = () => {
        if (document.querySelector('.uploadFileList').innerHTML.trim() === ''){
            document.querySelector('.uploadFileList').innerHTML = 'Not Exist Selected File Name'
        }else{
            document.querySelector('.uploadFileList').innerHTML = ''
        }
    }

    const onClickCancelBtn = () => {
        const uploadFileList = document.querySelector('.uploadFileList');
        const displayImgList = document.querySelector('.uploadResult')
        while( uploadFileList.firstChild){
            uploadFileList.removeChild(uploadFileList.firstChild);
        }
        while(displayImgList.firstChild){
            displayImgList.removeChild(displayImgList.firstChild);
        }
    }


    const editor = new toastui.Editor({
        el: document.querySelector('#toastUI'),
        height: '450px',
        initialEditType: 'wysiwyg',
        initialValue: '내용을 입력해 주세요.',
        previewStyle: 'vertical',
        hooks: {
            async addImageBlobHook(blob, callback){
                try {
                    const formData = new FormData();
                    formData.append('image', blob);

                    const response = await fetch('/uploadAjax',{
                        method : 'POST',
                        body : formData,

                    });

                    const filename = await response.text();
                    console.log('fileName :' , filename);

                    const imageUrl = `/imageDisplay?filename=${filename}`;
                    callback(imageUrl, 'image alt attribute');
                }catch (error){
                    console.error('upload failed',error)
                }
            }
        }
    });


</script>
